%section.services
  .item
    %br.xs-30.sm-60
      .container.services-intro
        .row
          .col-md-6.masthead-img.animated.fadeInRightBig
            %form.form.masthead-form.well
              %h2.text-center.label-form O que você precisa ?
              %br
              .dropdown
                %a#dLabel.btn.btn-primar.btn-tipo{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Tipo de Serviço
                  %span.caret
                %ul.dropdown-menu.multi-level{"aria-labelledby" => "dropdownMenu", :role => "menu"}
                  %li
                    %a{:href => "#"} Some action
                  %li
                    %a{:href => "#"} Some action    
          .col-md-6.destaques
            .well
              %h1.text-center Destaques
              - UserService.all.each do |f|
                .list-group
                  %a.list-group-item.diarista-destaque{:href => "#"}
                    .media.col-md-3
                      %figure.pull-left
                        %img.media-object.img-rounded.img-responsive{:alt => "placehold.it/350x250", :src => "http://placehold.it/350x250"}
                    .col-md-6
                      %h3 #{f.user.nome}
                      %h4.list-group-item-heading #{f.type_service.descricao}
                      %p.list-group-item-text
                        #{f.descricao}
                    .col-md-3.text-center
                      %h2
                        0
                        %small Seguidores
                      %button.btn.btn-default.btn-lg.btn-block{:type => "button"} Solicitar
                      = button_to 'Solicitar', seta_user_service_path(f),  :class => 'btn.btn-default.btn-lg'
                      .stars
                        %span.glyphicon.glyphicon-star
                        %span.glyphicon.glyphicon-star
                        %span.glyphicon.glyphicon-star
                        %span.glyphicon.glyphicon-star
                        %span.glyphicon.glyphicon-star-empty
                      %p
                        Nota 4.5
                        %small
      .col-md-6.masthead-img.animated.fadeInRightBig
        %form.form.masthead-form.well
          %h2.text-center.label-form Cadastre aqui seu serviço
          %br
            .form-group
              %textarea.area-diarista{:placeholder => "Descrição", :type => "text"}
              =simple_form_for @user_service , as: :user_service, url: us_path(@user_service), method: :post, :html =>{:class => 'form-group'}  do |f|
                = f.collection_select(:type_service_id, TypeService.all, :id, :descricao, prompt: true)
            %span.glyphicon.glyphicon-log-out.pull-right
            .form-group
              %br
              %button.btn.btn-secondary.btn-jumbo.btn-block.btn-cadastrar{:type => "submit"} Cadastrar
:javascript
  $(document).ready(function(){
    $('.dropdown').hover(
      function() {
        $('.dropdown-menu', this).not('.in.dropdown-menu').stop( true, true ).slideDown('fast');
        $(this).toggleClass('open');
      },
      function() {
        $('.dropdown-menu', this).not('.in.dropdown-menu').stop( true, true ).slideUp('fast');
        $(this).toggleClass('open');
      }
    );
  });

