%section.cadastro-service
	.container
		.row
			%br.xs-80
				.account-wrapper
					.account-body
						.form.masthead-form
							%h2.text-center.label-form Cadastre aqui seu serviço
							%br
								.form-group
									=simple_form_for @user_service , as: :user_service, url: user_services_path(@user_service), method: :post, :html =>{:class => 'form-group'}  do |f|  
										= f.text_area :descricao, size: "50x12", :placeholder => 'Descrição' 
										= f.collection_select(:type_service_id, TypeService.all, :id, :descricao, prompt: true)
										%span.glyphicon.glyphicon-log-out.pull-right
										.form-group
											%br
											= f.button :submit, :html => 'btn btn-secondary btn-jumbo btn-block btn-cadastrar'
