
.container
  .row
    %h2 Multi level dropdown menu in Bootstrap 3
    %hr/
    .dropdown
      %a#dLabel.btn.btn-primary{"data-target" => "#", "data-toggle" => "dropdown", :href => "/page.html", :role => "button"}
        Dropdown
        %span.caret
      %ul.dropdown-menu.multi-level{"aria-labelledby" => "dropdownMenu", :role => "menu"}
        %li
          %a{:href => "#"} Some actionS
        %li
          %a{:href => "#"} Some other action
        %li.divider
        %li.dropdown-submenu
          %a{:href => "#", :tabindex => "-1"} Hover me for more options
          %ul.dropdown-menu
            %li
              %a{:href => "#", :tabindex => "-1"} Second level
            %li.dropdown-submenu
              %a{:href => "#"} Even More..
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} 3rd level
                %li
                  %a{:href => "#"} 3rd level
            %li
              %a{:href => "#"} Second level
            %li
              %a{:href => "#"} Second level



:javascript
      $(document).ready(function(){
        $('.dropdown').hover(
          function() {
            $('.dropdown-menu', this).not('.in.dropdown-menu').stop( true, true ).slideDown('fast');
            $(this).toggleClass('open');
          },
          function() {
            $('.dropdown-menu', this).not('.in.dropdown-menu').stop( true, true ).slideUp('fast');
            $(this).toggleClass('open');
          }
        );
      });
