- if @user.errors.any?
  #error_explanation
    %h3 Infelizmente não foi possível completar a ação pois o formulario possui os seguintes erros
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message

= simple_form_for @user, as: :user, url: homes_path(@user), method: :post  do |f|

  email
  = f.input_field :email
  nome
  = f.input_field :nome
  password
  = f.input_field :encrypted_password
  = f.button :submit