%section.principal
  .item
    %br.xs-30.sm-60
      .container
        .row
          .col-md-6.masthead-text.animated.fadeInLeftBig
            %h2.masthead-title.label-titulo Diarista Social
            %h4.label-desc
              Uma rede social que vem para facilitar contratação de serviços domésticos, disponibilizando vários tipos de serviços e ainda uma maior interatividade com quem disponibiza o mesmo.
            %br
              .masthead-actions
                %a.btn.btn-transparent.btn-jumbo.btn-intro{:href => "./page-tour.html"}
                  Saiba Mais
              / /.masthead-actions
          / /.masthead-text
          %br.xs-30.md-0
            .col-md-6.masthead-img.animated.fadeInRightBig
              .form.masthead-form.well
                %h3.text-center.label-form Cadastre-se
                %p.text-center.label-form-2 Facilite sua vida, é grátis.
                %br
                = simple_form_for @user, as: :user, url: homes_path(@user), method: :post, :html =>{:class => 'form-group'}  do |f|
                  .form-group
                    / <label class="" for="full_name">Full Name</label>
                    = f.input :nome, :autofocus => true, :label => false, :input_html => {:class => 'form-control'},:id => 'full_name', :placeholder => "Nome"
                    /%input#full_name.form-control{:placeholder => "Seu nome", :type => "text"}
                  / /.form-group
                  .form-group
                    / <label class="" for="email_address">Email Address</label>
                    = f.input :email, :autofocus => true, :label => false, :input_html => {:class => 'form-control'},:id => 'email_address', :placeholder => "Email"
                  / /.form-group
                  .form-group
                    / <label class="" for="organization">Organization</label>
                    = f.input :encrypted_password, :autofocus => true, :label => false, :input_html => {:class => 'form-control'},:id => 'senha', :placeholder => "Senha"
                    /%input#organization.form-control{:placeholder => "Sua senha", :type => "text"}
                  / /.form-group
                  .form-group
                    %button.btn.btn-secondary.btn-jumbo.btn-block{:type => "submit"} Cadastrar agora!
                  / /.form-group
              %br.xs-80
            / /.masthead-img
        / /.row
      / /.container
  / /.item


  