%header.header.principal
  .container
    .row
      .col-md-6.col-md-offset-1
        .content
          .pull-middle

            %p#notice
              = notice
            %h1.page-header Diarista Social
            %p.lead Rede social que auxilia na contratação de serviços domésticos.
            %button.btn.btn-primary.btn-get{:type => "button"} Comece Agora !
        .col-md-12.services
          .content
            .pull-middle
              %h1.page-header Serviços
              %p.lead Rede social que auxilia na contratação de serviços domésticos.
              %button.btn.btn-primary.btn-get{:type => "button"} Comece Agora !
      .section
        .row
          %form.form-signin.mg-btm

            %h3.heading-desc
              Cadastre-se
            .main

              tudo
        / .container
        /   .row




