@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-o-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.btn-login{
  background-color:  #337ab7 !important;
  border-color: #337ab7 !important;
}
.btn-login:hover{
  background-color:  #E83B3B !important;
  border-color: #E83B3B !important;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
body{
  background-color:#B3B3B3;
  word-spacing: normal;
  font-family: 'Open-Sans-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#navbar.navbar-collapse.collapse{
  background-color: #333;
}
.navbar-header{
  margin-top: 10px;
}
.label-logo{
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Pacifico';
  color: #fff;
}

.label-titulo{
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
}
.label-logo:hover
{
  text-decoration: none;
  color: #fff;
}

.label-desc{
  line-height: 1.5;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 2);
}
.btn-jumbo.btn-intro{
  background-color: #337ab7; 
}
.btn-jumbo.btn-intro:hover{
  background-color: #E83B3B;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.principal{
  background-image: url("diarista-4.jpg");
   background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 2;
  height: 92vh;
}
.services{
  background-color: #77C9DA;
  background-image: url("diarista-9.jpg");
   background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 2;
  
}

.services-secundario{
  margin-top: 60px;
}
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
.area-diarista{
  width: 100%;
  height: 100px;
}
/*--------SEARCH---------------*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
/*-----------nav-log--------------------------*/
.nav-tre{
  margin-left: 20px;
}
.navbar-notification-icon{
  color: #CCC;
}

.navbar-notification-icon:hover,
.navbar-notification-icon:link,
.navbar-notification-icon:visited{
  color: #fff;  
}

.navbar-default .navbar-nav>li>a{
  color: #ccc;
}
.navbar-default .navbar-nav>li>a:hover
{
  color: #fff;
}
.label-menu-logado{
  color: #ccc;
}
.label-menu-logado:hover,
.label-menu-logado:link,
.label-menu-logado:visited{
  color: #fff;
}
/*-------drop---------*/