@font-face{
	font-family: 'Courgette-Regular';
	src: asset-url('Courgette-Regular.ttf');
	font-weight: normal;
	font-style: normal;

	font-family: 'Pacifico';
	src: asset-url('Pacifico.ttf');
	font-weight: normal;
	font-style: normal;

}