- if @user_session.errors.has_key? :base
  %div
    = @user_session.errors[:base].join(',')



= form_for @user_session, as: :user_session, url: user_sessions_path(@user_session), method: :post  do |f|

  %fieldset
    %ol
      %li

        .input-group
          %label{:for => "email"} Email:
          %input.form-control{:type => "text", :email => "email", :class => "text"}


          .input-group
            %label{:for => "senha"} Senha:
            #{f.text_field :password,:placeholder => "Password" }
        = submit_tag 'Entrar'




