%head
  %meta{:charset => "utf-8"}
  %title Diarista Social - Sua plataforma para facilitar sua vida doméstica
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  / %meta{:content => "JTXi7d7bKmgghlk0MjzMCxE15K_PgbbZ5eTc5t8ImQg", :name => "google-site-verification"}
  /%meta{:content => "Jogos educativos para crianças. PonksToy a marca oficial dos pais heróis", :name=> "description"}
  /%meta{:content =>"jogos educativos, pais, jogos de tabuleiro, filhos, papertoys, heróis, sócio-educativos, famílias, crianças, ponks", :name=> "keywords"}
  /%meta{:content => "http://www.ponkstoy.com/", :name => "url"}
  /%meta{:content => "Ponkstoy - Jogos educativos que aproximam você do seu filho", :property => "og:title"}
  /%meta{:content => "Jogos educativos para crianças. PonksToy a marca oficial dos pais heróis", :property => "og:description"}  
  %meta{:content => "website", :property => "og:type"}
  %meta{:content => "", :name => "author"} 
  %meta{:content => " Diarista Social - Sua plataforma para facilitar sua vida doméstica", :property => "og:title"}
  
  /%link{:href => asset_path("favicon-ponks-toy.ico"), :rel => "icon" , :alt => "favicon-ponkstoy"}
  
  = csrf_meta_tags
    
  / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  /[if lt IE 9]
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    / Custom styles for this template