%ul.nav.navbar-nav.navbar-right
  %li
    #signin.navbar-form{:role => "form"}
      = simple_form_for @user_session, as: :user_session, url: user_sessions_path(@user_session), method: :post, :html => {:class => "form-signin"}  do |f|
        .input-group
          %label{:for => "email"} Email:
          = f.input :email,:placeholder => "email",:autofocus => true, :label => false, :input_html => {:class => 'form-control'}
        .input-group
          %label{:for => "senha"} Senha:
          = f.input :password,:placeholder => "Password", :autofocus => true, :label => false, :input_html => {:class => 'form-control'}
        = submit_tag 'Entrar', :class => 'btn btn-primary btn-login'


