%ul.nav.navbar-nav.navbar-left.nav-tre
  %li.dropdown.navbar-notification
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "./page-notifications.html"}
      %i.fa.fa-bell.navbar-notification-icon
      %span.visible-xs-inline &nbsp;Notifications
      /%b.badge.badge-primary 3
    .dropdown-menu
      .dropdown-header &nbsp;Notifications
      .notification-list
        %a.notification{:href => "./page-notifications.html"}
          %span.notification-icon
            %i.fa.fa-cloud-upload.text-primary
          %span.notification-title Notification Title
          %span.notification-description Praesent dictum nisl non est sagittis luctus.
          %span.notification-time 20 minutes ago
        / / .notification
      %a.notification-link{:href => "./page-notifications.html"} View All Notifications
    / / .dropdown-menu
  %li.dropdown.navbar-notification
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "./page-notifications.html"}
      %i.fa.fa-envelope.navbar-notification-icon
      %span.visible-xs-inline &nbsp;Messages
    .dropdown-menu
      .dropdown-header Messages
      .notification-list
        %a.notification{:href => "./page-notifications.html"}
          .notification-icon
            %img{:alt => "", :src => "../../global/img/avatars/avatar-3-md.jpg"}/
          .notification-title New Message
          .notification-description Praesent dictum nisl non est sagittis luctus.
          .notification-time 20 minutes ago
        / / .notification
      %a.notification-link{:href => "./page-notifications.html"} View All Messages
    / / .dropdown-menu
  %li.dropdown.navbar-notification.empty
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "./page-notifications.html"}
      %i.fa.fa-warning.navbar-notification-icon
      %span.visible-xs-inline &nbsp;&nbsp;Alerts
    .dropdown-menu
      .dropdown-header Alerts
      .notification-list
        %h4.notification-empty-title No alerts here.
        %p.notification-empty-text Check out what other makers are doing on Explore!
      / / .notification-list
      %a.notification-link{:href => "./page-notifications.html"} View All Alerts
    / / .dropdown-menu
%ul.nav.navbar-nav.navbar-right.nav-log
  %li
    = link_to 'Serviços' , services_path, :class => 'label-menu-logado'
  %li
    %a.label-menu-logado{:href => "javascript:;"} Solicitações
  %li.dropdown.navbar-profile
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
      %img.navbar-profile-avatar{:alt => "", :src => "../../global/img/avatars/avatar-4-sm.jpg"}
        %span.visible-xs-inline @peterlandt &nbsp;
        %i.fa.fa-caret-down
    %ul.dropdown-menu{:role => "menu"}
      %li
        %a{:href => "./page-profile.html"}
          %i.fa.fa-user
          \&nbsp;&nbsp;My Profile
      %li
        %a{:href => "./page-pricing-plans.html"}
          %i.fa.fa-dollar
          \&nbsp;&nbsp;Plans & Billing
      %li
        %a{:href => "./page-settings.html"}
          %i.fa.fa-cogs
          \&nbsp;&nbsp;Settings
      %li.divider
      %li
        %a{:href => "./account-login.html"}
          %i.fa.fa-sign-out
            = link_to t('Sair') , logout_path
          /\&nbsp;&nbsp;Logout
/ /.container