!!!
%html
  = render 'layouts/header'
  %body 
    %nav.navbar-default{role: 'navigation'}  
      .navbar-header
        %button.navbar-toggle.collapsed{ type:'button', data:{toggle: 'collapse', target: '#navbar'}, aria:{ expanded: 'false', controls: 'navbar'}}
          %span.sr-only Toggle navigation
          %span.icon-bar  
          %span.icon-bar
          %span.icon-bar    
        = link_to root_path, class: 'navbar-brand-no' do	
          %a.label-logo{:href => '#'} Diarista Social 

      #navbar.navbar-collapse.collapse.menu
        - unless user_signed_in?
          =render 'layouts/menu'
        -else
          =render 'layouts/menu_logado'
    = yield

    /= render 'layouts/footer'
    = stylesheet_link_tag  'application', media: 'all'
    = javascript_include_tag 'application'


